@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 6px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d8d8d8; 
    border-radius: 120px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9; 
  }


  @font-face {
    font-family: 'PTSans Regular';
    src: url('./assets/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'PTSans Bold';
    src: url('./assets/fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
